<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exam.pdfviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstYear"
            android:label="First Year" />
        <activity
            android:name=".SecondYear"
            android:label="Second Year" />
        <activity
            android:name=".ThirdYear"
            android:label="Third Year" />
        <activity
            android:name=".FinalYear"
            android:label="Final Year" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".BookList" />
        <activity android:name=".DataStructure" />
        <activity android:name=".ComputerOrganization" />
        <activity android:name=".DigitalCircuits" />
        <activity android:name=".DiscreteMaths" />
        <activity android:name=".NetworkAnalysis" />
        <activity android:name=".TCS" />
        <activity android:name=".DBMS" />
        <activity android:name=".EM3" />
        <activity android:name=".CommunicationSystem" />
        <activity android:name=".ControlSystem" />
        <activity android:name=".Physics" />
        <activity android:name=".Chemistry" />
        <activity android:name=".Mit" />
        <activity android:name=".DAAA" />
        <activity android:name=".artificialintell" />
        <activity android:name=".compnetwork" />
        <activity android:name=".sw3" />
        <activity android:name=".operatingsys" />
        <activity android:name=".syssoft" />
        <activity android:name=".compgra" />
        <activity android:name=".ita" />
        <activity android:name=".sw4"></activity>
    </application>

</manifest>